@charset "utf-8" ;

/* 선택자의 종류
1. 요소 선택자
2. 그룹 선택자
3. 클래스 선택자 : .이름 */

div{
    width: 1200px;
    /* 콘텐츠를 가로 가운데(중앙)에 배치 */
    margin:0 auto;
}
.div1 {
    background: yellowgreen;
    height: 300px;
}
.div2 {
    background: blueviolet;
    height: 300px;
}
.div3 {
    background: coral;
    height: 200px;
}
.div4 {
    background:pink;
    height: 100px;
}