@charset "utf-8" ;

/* 선택자
1 요소
2 클래스
3 그룹
4 하위
5 가상클래스 */


/* 가상 클래스 선택자 */
/* 선택자 :nth-of-type(숫자/n번째) */
/* ex) h1 : nth-of-type(2) */
/* n : 숫자 수열 2n 2n+1 3n 4n ... */
/* 2n 짝수 2n+1 홀수 2n-1 홀수 3n 3의 배수 4n 4의 배수 ... */

div{
    margin: 20px;
    /* border-bottom 밑줄로 사용 가능 */

}

/* 실선 */
div:nth-of-type(1){
    padding-left: 16px;
    padding-bottom: 10px;
    border-left:5px solid;
    border-bottom:1px solid;
}

/* 점선 */
div:nth-of-type(2){
    /* border의 색상 지정 안할시 > 글자색을 따라감
       border의 색상 지정 할 시 > 글자색 보더색 개별로 지정 */
    color:blueviolet;
    border-bottom:1px dotted;
}

/* 대시선 */
div:nth-of-type(3){
    /* 개별형(일반형) */
    /* border-width: 1px
       border-style: 1px 
       border-color:red */
    /* border : 굵기 스타일 색상 (속기형) */
    border:10px dashed red;
}

div:nth-of-type(4){
    border: 1px solid red ;
    /* outline은 border 바깥 쪽에 있는 외곽선이다 */
    /* outline은 상하좌우가 없다 */
    outline: 1px solid greenyellow ;
    /* 외곽선(아웃라인)과 테두리(보더) 사이의 갭 */
    outline-offset: 10px;
}

/* outline이 아닌 div에 마진을 넣고 다이브에 다이브 상자를 담아 둘다 테두리를 넣어주면 outline효과가 난다! */

.out_box{
    border : 1px solid red;
}

.out_box div{
    border: 1px solid blue;
}