@charset "utf-8";

p:first-of-type {
    color: deeppink
}

p:last-of-type {
    color: blueviolet
}

h2:nth-child(1) {
    color: red
}

p:nth-of-type(2n) {
    font-style: italic;
}

p:nth-child(2n+1) {
    font-weight: bold;
}