@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url("clock.css");

<<<<<<< HEAD
/* common */
=======

/* 마우스 포인터 */
.mp {
    position: absolute;
    border-radius: 100%;
}

/* 작은 원 */
.mp2 {
    background-image: url(../assets/pointer2.png); 
    width: 30px;
    height: 30px;
    /* ease-out을 사용! */
    transition: .1s ease-out;
}

/* reset */
>>>>>>> 070f1cb39127ab87089817613e945af573052ff9
html {
    scroll-behavior: smooth;
    font-size: 10px;
}
body {
    font: 300 1.5rem/1.6 "Noto Sans KR", sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}
h3 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 16px 0;
}
p {
    margin-bottom: 48px;
}
img,
video {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
input {
    border: none;
}
iframe {
    width: 100%;
    border: none;
    /* 테두리, 배경이미지, 배경색 적용된다! */
    border-radius: 5px;
}

.container {
    padding: 60px 24px;
}

.container > p {
    text-align: center;
    margin-bottom: 16px;
}
.btn {
    font-size: 1.5rem;
    padding: 8px 24px;
    margin-top: 60px;
}

/* clock */
#clock {
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    bottom: 7%;
    text-align: center;
}
#s1 #clock {
    position:absolute;
    right:0;
    bottom:0;
}

/* 섹션1 */
.container-fluid {
    background: no-repeat 50% 50%/cover fixed;
}

#s1 div{
    position:relative;
    text-align:center;
    color:#fff;
    font-weight: 700;
    font-size: 50px;
}
#s1 #title {
    width: 100%;
    height: 100%;
    text-align: center;
}
#s1 #title div{
    position: absolute;
    top:200px;
    left:150px;
}


/* background-image: Parallax Scrolling */
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat 50% 50% / cover fixed;
}

#s1 .container-fluid {
    height: 100vh;
    background-image: url(../assets/배경\ \(5\).jpg);
}
<<<<<<< HEAD
#s3 .container-fluid {
    height: 400px;
    background-image: url(../assets/배경\ \(5\).jpg);
}
#s4 .container-fluid {
    height: 400px;
    background-image: url(../assets/배경\ \(5\).jpg);
}
=======

>>>>>>> 070f1cb39127ab87089817613e945af573052ff9

/* background-image Title */
.container-fluid > span {
    font-size: 3.6rem;
    letter-spacing: 10px;
    color: #fff;
}

/* seciton2: profile */
#s2 .row {
    overflow: hidden;
}

.profile1 {
    transform: translateY(300px);
    transition:transform .5s .2s;
}
.profile2 {
    transform: translateY(300px);
    transition:transform .5s .6s;
}
.photo {
    transform: translateY(300px);
    transition:transform .5s .8s;
}

/* progress */
.progress {
    height: 30px;
    font-size: 1.5rem;
    padding: 0;
}

/* counter */
.counter {
    display: block;
    background: #616161;
    color: #fff;
    text-align: center;
    padding: 32px;
}
.counter .col-sm {
    padding: 20px 0;
}
.counter span {
    display: block;
    font-size: 2.4rem;
}

/* section3: portfolio */

#s3 {
    text-align: center;
}
/* #s3 .col {
    padding: 8px;
} */
#s3 .col-sm {
    margin-bottom: 12px;
}

<<<<<<< HEAD
/* section4: contact */
#s4 input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 4px 0;
=======
/* 섹션4 */

#s4 {
    text-align: center;
>>>>>>> 070f1cb39127ab87089817613e945af573052ff9
}
#s4 ul {
    margin-top: 16px;
}
#s4 li {
    line-height: 2;
}
#s4 .row p {
    margin: 24px 0 8px;
}
<<<<<<< HEAD
#s4 button.btn {
    margin-top: 16px;
=======

#s4 .container-fluid {
    height: 400px;
    background-image: url(../assets/배경\ \(5\).jpg);
}

[name="user_name"] {
    margin-right: calc(2% - 4px)
>>>>>>> 070f1cb39127ab87089817613e945af573052ff9
}
#s4 iframe{
    height:260px;
}

/* footer */
footer {
<<<<<<< HEAD
    padding: 30px 0;
    background: #000;
    text-align: center;
    color: #fff;
}
footer a {
    color: #fff;
=======
    height: 200px;
    background: #000;
}

footer p,
a {
    color: #fff;
}

footer,
footer p {
    text-align: center;
>>>>>>> 070f1cb39127ab87089817613e945af573052ff9
}
footer .sns {
    margin: 16px 0;
    font-size: 2.4rem;
}

@media (min-width: 992px) {
    /* clock */
    #clock {
        left: auto;
        right: -2%;
        bottom: 2%;
        text-align: right;
    }

    /* skill */
    .skill {
        margin-top: 48px;
    }

    /* section4: contact */
    #s4 form div {
        display: flex;
        justify-content: space-between;
    }
    #s4 [name*="user"] {
        width: 49.5%;
    }
    #s4 [name="message"] {
        width: 100%;
    }

    footer {
        padding: 60px 0;
    }
}
