@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* s1 */
.title{
    text-align: center;
    z-index: 999;
}
/* 햄버거 버튼 */
.collapsedMenuIcon {
    right: 0;
    position: absolute;
    /* 마우스 포인터 모양 */
    cursor: pointer;
}
#fullpage > .section:nth-of-type(0) > p{
    position: absolute;
    top:100px;
}
.bar1,
.bar2,
.bar3 {
    display: flex;
    width: 35px;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 3px;
    margin: 6px 0;
    transition: 0.4s;
}

/* reset */
* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #fff;
}

button {
    border: none;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

:root {
    font-size: 10px;
    --black: #000;
    --gray1: #111;
    --gray3: #333;
    --graya: #aaa;
    --grayc: #ccc;
    --white: #fff;
}

body{
    font-family: 'Pretendard-Regular';
    font-size: 1.5rem;
}

h1,
h2,
h3 {
    font-family: 'Pretendard-Regular';
}

h1,
h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2.4rem;
}

input,
::placeholder,
button,
.inquiry{
    font-family: 'Pretendard-Regular';
    font-size: 1.5rem;
}

/* 헤더 */

header {
    background: #b8b8b800;
    position: fixed;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 0 30px;
    transition: .3s ease-out;
}

nav > ul > li > a{
    font-size:20px;
    color:#fff;
}

/* --------------- 섹션1 --------------- */

.s1 {
    text-align: center;
    background:url(../assets/건물3.jpg) no-repeat;
}
.title{
    color:#fff;
    font-size: 75px;
}
.title2{
    color:#fff;
    font-size:26px;
    font-weight:400;
    text-align: center;
}
.scrolldown{
    margin-top:70px;
    text-align: center;
    width: 90px;
    height: 90px;
    animation:rotate2d 5s infinite linear;
}


@keyframes rotate2d{
    from {transform:rotate(0deg)}
    to{transform:rotate(360deg)}
}
/* --------------- 섹션2 --------------- */
.s2{
    background:url(../assets/sec2.png) no-repeat;
}
.ibx{
    margin-left:1100px;
    align-items:center;
    height: 100%;
    display: flex;
    width: 900px;
}
.ibx h2{
    font-size:49px;
    margin-bottom:40px;
}
.ibx p{
    font-size:18px;
    margin-bottom:30px;
}
#s4 .cont{
    width: 560px;
    background: #a3acff;
}

#s4 .link a {
    display: flex;
    padding: 16px 24px;
    background: #4d0686;
}

/* --------------- 섹션3 --------------- */
.s3 h2{
    font-size: 49px;
}
.s3 p{
    margin-top:20px;
    font-size: 18px;
}
.s3 .slider{
    display: flex;
}
.s3 .container{
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    margin:0 auto;
}
.s3 .container div{
    margin-bottom:-25px;
}

.s3 .container img{
    width: 499px;
    height: 320px;
}
.s3 .container img:hover{
    background: #3a3a3a54;
}
.s3 .title3{
    padding-bottom: 20px;
    justify-content: space-between;
    margin: 0 auto;
    width: 1500px;
    display: flex;
}
.s3 .container h3{
    color:#fff;
    position:relative;
    top:-50px;
    left:30px;
}

/* --------------- 섹션4 --------------- */
.s4{
    position: relative;
}
.s4 .inquiry{
    font-weight:700;
    font-size:25px;
    text-align: center;
    width:40%;
    height: 500px;
}
.s4 .inquiry div{
    display: flex;
    text-align: left;
    justify-content: right;
}
.s4 .inquiry h2{
    color:#008AC2;
    margin-bottom: 40px;
}
form{
    margin-top: -190px;
    position: absolute;
    right:0;
    text-align:left;
    width:60%;
}
form input{
    box-shadow: 0px 0px 20px #4444442f;
    border: none;
    margin:20px 0px 0px 50px;
    width: 390px;
    height: 80px;
}
form input:nth-of-type(5){
    width: 835px;
}
form input:nth-of-type(6){
    width: 835px;
    height: 150px;
}
form button{
    left:30px;
    position: absolute;
    background:#008AC2;
    margin: 20px;
    width: 200px;
    height: 70px;
}
/* font color */
#sec1 b,
#sec2 h3,
#sec4 button,
footer {
    color: var(--white);
}

/* 폰 */
nav {
    display: none;
}

.collapsedMenuIcon {
    display: block;
}

nav {
    z-index: 999;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100vh;
}

nav.change {
    right: 0;
}
nav a {
    font-weight: 800;
    position: relative;
    left: 300px;
    margin: 0px 50px;
    line-height: 50px;
    ;
    color: #333333e3;
}

/* 576이상 */
@media (min-width:576px) {
    nav ul {
        width: 100%;
    }
    
}


/* 768이상: 테블릿, 데스크탑 */
@media (min-width: 768px) {
    nav ul {
        display: none;
    }
    
    nav ul li {
        margin-left: 40px;
    }
    
    section li {
        width: calc(25% - 15px);
    }


    nav {
        display: flex;
    }

    nav ul {
        width: 70%;
    }

}

/* 992이상: 데스크탑 */
@media (min-width: 992px) {

    nav ul {
        display: flex;
    }
    .collapsedMenuIcon {
        display: none;
    }


}