@charset "utf-8";

/* reset */
* {
    box-sizing: border-box;
}
body,h1,h2,h3,ul,p {
    margin:0;
}
ul {
    padding:0;
    list-style: none;
}

a {
    text-decoration: none;
}
body {
    background: #fff;
}
button {
    border:none;
    /* 손 모양 */
    cursor: pointer;
}
