@charset "utf-8";

/* reset */
* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
p {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background: #fff;
}

/* --- common ---*/

:root {
    font-size: 10px;
    --black: #000;
    --gray1: #111;
    --gray3: #333;
    --graya: #aaa;
    --grayc: #ccc;
    --white: #fff;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
}

h1 {
    font-weight: normal;
}

h1,
h2,
h3 {
    font-family: "NanumSquareNeo", sans-serif;
}

h1,
h3 {
    font-size: 1.5rem;
}

h2 {
    font-weight:500;
    font-size: 2.4rem;
}

/* bg color */
body {
    background: white;
}

/* 폰 */
#wrap{
    margin-top:150px;
}
.phone-tit{
    font-size:16px;
    text-align: center;
    font-weight: 700;
}

/* 탭 메뉴클릭 */
.tab-menu ul{
    margin:0 auto;
    width: 300px;
    display: flex;
}
.tab-menu ul li{
    font-weight: 600;
    font-size:16px;
    margin:10px;
    padding:15px;
    border-bottom:3px solid rgb(214, 214, 214);
}
.tab-menu ul li.active{
    color:#018B37;
    border-bottom:3px solid #018B37;
}
.tab-menu ul li a{
    color:#018B37;
}
.tab-menu ul li a.active{
    color:#018B37;
}
/* 콘텐츠 텍스트 */
/* 탭 콘텐츠 1 */
.tab-cont{
    margin-top:20px;
    width: 360px;
    height: 100px;
}
.tab-cont > .cont1 > ul{
    text-align: center;
}
.tab-cont > .cont1 > ul l{
    text-align:left;
}

.tab-cont .cont1 img{
    width: 320px;
    height: 130px;
}
.img-desk{
    display: none;
}
.tab-cont > .cont1 > ul >li {
    margin: 10px;
    border:1px solid #E2E2E2;
    border-radius:22px;
    
}
.tab-cont > .cont1 > ul > li > h3 > a{
    color:#222;
}
.tab-cont > .cont1 > ul > li > div{
    overflow: hidden;
}
.tab-cont .cont1 img{
    transition: .6s ease-in-out;
}
.tab-cont .cont1 img:hover{
    transform:scale(1.1);
    transition: .6s ease-in-out;
}

/* 탭 콘텐츠 2 */

.tab-cont .cont2{
    text-align: center;
}
.tab-cont .cont2 img{
    width: 320px;
    height: 130px;
    transition: .6s ease-in-out;
}
.tab-cont .cont2{
    text-align: center;
    display: none;
}
.tab-cont > .cont2 > ul >li {
    margin: 10px;
    border:1px solid #E2E2E2;
    border-radius:22px;
    
}

.tab-cont > .cont2 > ul > li > h3 > a{
    color:#222;
}

.tab-cont > .cont2 > ul > li > div{
    overflow: hidden;

    
}
.tab-cont .cont2 img:hover{
    transform:scale(1.1);
    transition: .6s ease-in-out;
}


.tab-cont > .cont1 > ul > li > h4{
    color:#888;
}
.tab-cont > .cont2 > ul > li > h4{
    color:#888;
}


/* 페이지 넘기기 */

#page{
    display: flex;
    justify-content: center;
}
#page div{
    color: #111;
    font-weight:700;
    margin: 10px;
}
#page div a{
    color: #111;
}

#footer{
    margin-top: 1400px;
}


/* 768이상: 테블릿, 데스크탑 */
@media (min-width: 768px) {

    .phone-tit{
        font-size:38px;
        text-align: center;
        font-weight: 700;
    }
    
    /* 탭 메뉴클릭 */
.tab-menu ul{
    margin:0 auto;
    width: 1250px;
    display: flex;
}
.tab-menu ul li{
    font-weight: 600;
    font-size:16px;
    margin:10px;
    padding:15px;
    border-bottom:3px solid rgb(214, 214, 214);
}
.tab-menu ul li.active{
    color:#018B37;
    border-bottom:3px solid #018B37;
}
.tab-menu ul li a{
    color:#018B37;
}
.tab-menu ul li a.active{
    color:#018B37;
}


    .tab-cont{
        position: relative;
        left:25px;
    }
    /* 콘텐츠1 */
    .tab-cont > .cont1 > ul{
        display: flex;
        width: 720px;
        flex-wrap: wrap;
    }
    .tab-cont > .cont1 > ul >li {
        margin: 10px;
        overflow: hidden;
    }
    .tab-cont .cont1 img{
        width: 336px;
        height:190px;
        
    }
    
    /* 콘텐츠2 */
    .tab-cont > .cont2 > ul{
        display: flex;
        width: 900px;
        flex-wrap: wrap;
    }
    .tab-cont > .cont2 > ul >li {
        margin: 10px;
    }
    .tab-cont .cont2 img{
        width: 336px;
        height:190px;
    }
    #page{
        display: flex;
        position: relative;
        left:180px;
        top:100px;
        justify-content: center;
    }
}

/* 992이상: 데스크탑 */
@media (min-width: 992px) {

    .phone-tit{
        font-size:45px;
        text-align: center;
        font-weight: 700;
    }


    
    .tab-cont{
        position: relative;
        left:300px;
    }
    /* cont1 */
    .tab-cont > .cont1 > ul{
        display: flex;
        width: 1400px;
        flex-wrap: wrap;
    }

    .tab-cont .cont1 img{
        width: 416px;
        height:416px;
    }
    .img-desk{
        display: block;
    }
    .img-phone{
        display: none;
    }
    /* cont2 */
    .tab-cont > .cont2 > ul{
        display: flex;
        width: 1500px;
        flex-wrap: wrap;
    }
    .tab-cont > .cont2 > ul >li {
        margin: 10px;
        border:1px solid #E2E2E2;
        border-radius:22px;
    }
    .tab-cont .cont2 img{
        width: 416px;
        height:416px;
    }

    .tab-cont > .cont1 > ul > li > h3{
        font-size:20px;
    }
    .tab-cont > .cont1 > ul > li > h4{
        font-size:20px;
    }
    .tab-cont > .cont2 > ul > li > h3{
        font-size:20px;
    }
    .tab-cont > .cont2 > ul > li > h4{
        font-size:20px;
    }

    #page{
        display: flex;
        position: relative;
        left:470px;
        top:100px;
        justify-content: center;
    }
    


}