@charset "utf-8";
@import url(./reset.css);

body {
    /* width: 100vw; */
    margin: 0;
    overflow-x: hidden;
}


/* slider */
#s1 {
    margin-top: 4vh;
}
#s1 #slideWrap .slider img {
    width: 100vw;
    /* width: 100%; */
    
    object-fit: cover;
}

#slideWrap {
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.bx-wrapper {
    /* margin-top: 70px; */
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

.bx-viewport {
    height: 100%;
    width: 100vw;
}

/* 인디케이터(페이저) */
.bx-wrapper .bx-pager {
    /* 위치 */
    bottom: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a {
    /* 전체 색상 */
    background: #999;
    /* 페이저 아이템의 좌우 간격 */
    margin: 0 8px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
    /* transform: scale(2, 2); */
    /* 현재 보이는 이미지의 해당하는 페이저 색상 */
    background: #fff;
}

/* 이전/다음 버튼 */
.bx-wrapper .bx-controls-direction a {
    /* 크기 */
    width: 60px;
    height: 60px;
    display: none;
}

/* 이전 */
.bx-wrapper .bx-prev {
    left: 195px;
    /* background: url() 반복 x위치 y위치/가로 세로; */
    background: url(../assets/chevron_left_white_24dp.svg) no-repeat 0px 0px/60px 60px;
}

/* 다음 */
.bx-wrapper .bx-next {
    right: 195px;
    background: url(../assets/chevron_right_white_24dp.svg) no-repeat 0px 0px/60px 60px;
}

/* 다음 버튼 호버시 사라지는 현상 초기화 */
.bx-wrapper .bx-next:focus,
.bx-wrapper .bx-next:hover {
    background-position: 0 0;
}

/* slider 폰 */
#slideWrap img:last-of-type {
    display: none;
}

/* sction2폰 */
#s2 {
    /* margin: 0 auto; */
    text-align: center;
    /* height: 500px; */
    padding: 0 5%;
}

#s2 div {
    margin-top: 40px;
}

#s2 img {
    width: 100%;
}


/* section3 */
#s3 {
    margin-top: 10%;
    position: relative;
    height: 80vh;
}
#s3 .mlogo {
    position: absolute;
    width: 200px;
    left: 4%;
}
#s3 h2 {
    position: absolute;
    top: 10vh;
    left: 2%;
}

#s3 img {
    width: 100%;
    vertical-align: top;
}

#s3 .best-slick {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* 슬라이드 전체 크기 */
    max-width: 360px;
}

/* 슬라이드 아이템 */
/* #s3 .slick-slide {
    margin: 8px 10px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
} */

/* 설명글 */

#s3 .slick-slide .tit {
    padding: 8px 24px;
}


/* 이전(prev)/다음(next) 버튼 */
#s3 .slick-prev,
#s3 .slick-next {
    position: absolute;
    top: -50px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    padding: 4px;
    /* margin-left: 45px; */
    /* border-radius: 50%; */
    /* background: #ccc; */
}

#s3 .slick-next {
    right: 0.5%;
}
#s3 .slick-next {
    width: 38px;
    height: 38px;
}
#s3 .slick-prev {
    /* position: absolute; */
    width: 38px;
    height: 38px;
    top: -50px;
    left: 79%;
    /* left: 79%; */
}

#s3 .slick-prev::before {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0px;
    /* border: 1px solid green; */
    background: url(../images/main/best-menu/메인/버튼.svg)no-repeat 50% 50%/cover;
}

#s3 .slick-next::before {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0px;
    /* border: 1px solid green; */
    background: url(../images/main/best-menu/메인/버튼-1.svg)no-repeat 50% 50%/cover;
}
#s3 a {
    position: absolute;
    display: flex;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: .5% 1%;
    background: forestgreen;
    color: #fff;

}

/* section4 */
#s4 {
    width: 100%;
    height: 440px;
    position: relative;
    background: url(../../../assets/images/main/main-bg.svg) no-repeat 50% 50%/cover;
}
#s4 h2 {
    position: absolute;
    left: 25%;
    top: 10%;
    color: #fff;
}
#s4 a {
    position: absolute;
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    left: 25%;
    top: 30%;
    font-size: 15px;
}
/* #s4 img {
    width: 550px;
    height: 100%;
} */
#s4 img {
    position: absolute;
    width: 335px;
    text-align: center;
    bottom: 2%;
    /* left: 20%; */
    margin-left: 15%;
}


/* #s4 img {
    width: 100%;
    
} */


/* sction5 */
/* slick 슬라이드 */
#s5 {
    /* position: absolute; */
    text-align: center;
    height: 600px;
    width: 100%;
}

#s5 img {
    width: 100%;
    vertical-align: top;
}

/* 슬라이드 아이템 */
#s5 .slick-slide {
    width: 300px;
    margin: 8px 10px;
    background: #fff;
    border-radius: 15px;
    /* 이미지 상단 영역 모서리 둥글게 보이기 */
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
}

#s5 .slick-cloned {
    width: 300px;
}

/* section6 */
#s6 {
    /* margin-top: 50%; */
    margin: 3%;
    text-align: center;
    height: 600px;
    display: block;
}

#s6 div img {
    width: 100%;
}
#s6 div img:hover {
    transform: scale(1.01, 1.01);
}
#s6 div:first-child {
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    #s3 .best-slick {
        max-width: 620px;
    }

    #s3 .slick-slide {
        margin: 8px 12px;
    }

    #s3 .slick-prev {
        left: 86%;
    }

    #s3 .slick-prev,
    #s3 .slick-next {
        width: 44px;
        height: 44px;
        padding: 6px;
    }
    
}

@media (min-width: 992px) {
    #s3 .best-slick {
        max-width: 1210px;
    }

    #s3 .slick-slide {
        margin: 8px 16px;
    }

    #s3 .slick-prev,
    #s3 .slick-next {
        width: 50px;
        height: 50px;
        padding: 8px;
    }

    /* .slick-prev, */

    #s3 .slick-next {
        right: 0.5%;
    }

    #s3 .slick-prev {
        /* position: absolute; */
        top: -50px;
        left: 92%;
    }
}

@media (min-width: 768px) {

    #slideWrap img:first-child {
        display: none;
    }

    #slideWrap img:last-child {
        display: block;
    }

    #s2 div {
        display: block;
    }
    #s3 h2 {
        position: absolute;
        top: 6vh;
        left: 4%;
    }

    /* s5 */
    #s5 {
        /* max-width: 767px; */
        text-align: center;
    }

    #s5 img {
        width: 100%;
        vertical-align: top;
    }

    #s5 .slick-slide {
        margin: 8px 12px;
    }

    #s6 {
        height: 1000px;
    }
}

@media (max-width: 1450px) {
    #s2 div {
        display: block;
    }
}

@media (min-width: 992px) {

    /* 이전/다음 버튼 */
    .bx-wrapper .bx-controls-direction a {
        /* 크기 */
        display: block;
    }
    

    /* section2 */
    #s2 {
        height: 200px;

        padding: 0;
        /* margin-top: 10px; */
        margin: 0 auto;
        /* width: 1350px; */
        /* height: 200px; */

    }

    #s2 div {
        /* width: 100vw; */
        /* margin-top: 40px; */
        display: flex;
        align-items: center;
        /* overflow-wrap:unset; */
        justify-content: center;
        /* margin-right: 5px; */
        /* width: 100vw; */
    }

    #s2 div a {
        margin-right: 1.5%;
    }
    #s4 {
        height: 280px;
        
    }
    
    #s4 h2 {
        left: 25%;
        top: 30%;
    }
    #s4 a {
        padding: 10px;
        border-radius: 5px;
        left: 25%;
        top: 70%;
        font-size: 15px;
    }

    #s4 img {
    right: 20%;
        width: 434px;

    }
    #s5 {
        height: 400px;
    }
    #s5 .s5-wrap {
        margin-top: 100px;
    }

    #s5 img {
        width: 100%;
        vertical-align: top;
    }

    #s5 {
        max-width: 1350px;
        margin: 0 auto;

    }

    #s5 .slick-slide {
        margin: 8px 16px;
    }
    #s6 {
        /* padding: 0 16%; */
        margin: 0 15vw;
        justify-content: space-between;
        align-items: center;
        height: 700px;
        display: flex;
        text-align: start;
    }
    #s6 div {
        margin: 0 12px;
    }
    #s6 div:first-child {
        margin: 0;
    }
    #s6 img {
        width: 100%;
    }

}