@charset "utf-8";
@import url(reset.css);
@import url(typo.css);
@import url(section.css);

body, html {cursor:url(../../assets2/cursor\ \(3\).cur), auto}

body{
    width: 100%;
    height: 100%;
    background-image:url(../../assets2/5236199.jpg);
    background-size: 100% 100%;
}

/* 바로가기 버튼 */
.baro{
    font-family: 'Pretendard-Regular';
    cursor: pointer;
    text-decoration: none;
    border-radius:10px;
    padding: 10px;
    display:inline;
    border:1px solid #222222;
    background: #ffffff;
}
.baro:hover{
    background:#e794a5;
    color:#fff;
}
.baro a{
    text-decoration: none;
    cursor: pointer;
}
.baro a:hover{
    color:white;
}
/* typo */
img { width: 100vw; }

/* layout 배치 */
/* 박스모델 속성, display, position */
img{
    width: 100px;
    height: 100px;
}
html{
    scroll-behavior: smooth;
}
/* navigation */
nav {
    height: 100px;
}

nav section {
    
    align-items: center;
}

/* 깃허브 바로가기 */

nav li::before {
    content: "";
    display: inline-block;
    border-radius: 50px;
    width: 6px;
    height: 6px;
    margin: 0 8px 4px;
    background: #818181;
}

@font-face {
    font-family: 'Ramche';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

nav li {
    
    font-style: italic;
    display: inline-block;
    line-height: 100px;
}
nav li a{
    font-family: 'Ramche';
    font-weight: 300;
    cursor: pointer;
    color:#5a5a5a;
}
nav li a:hover{
    color:#313131;
}

/* 포트폴리오 띠 */
header {
    height: 200px;
    /* 높이와 같은 값을 준다 */
    line-height: 200px;
    background:#fff5f677;
}

@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}

header h1{
    font-size:50px;
    font-family:'DNFBitBitv2';
    font-style: italic;
    font-weight:900;
}
/* main */

main{
    padding-bottom: 200px;
}
section {
    width: 940px;
    margin: 0 auto;
}

h2 {
    font-family: "Syncopate", sans-serif;
    font-style: italic;
    font-weight:700;
}

section>h2{
    padding: 50px 0px;
}

.figma {
    margin: 0
}

.home-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.home-icon {
    width: 100px;
    height: 100px;
}
.home-icon img{
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px #ffffffc9;
}
.home-icon:hover img{
    transition:0.3s;
    transform:scale(1.1,1.1);
}

.home-description {
    width: 790px;

}


ul {
    text-align: right;
}

/* footer */
footer{
    
    align-items: center;
    padding-top: 40px;
    margin-top: -150px;
    text-align: center;
}

footer div a{
    cursor: pointer;
    padding:3px;
}


/* ////////////////////////////////////반응형css */


/* :root는 HTML 태그를 가리킨다. */
:root {
    /*  to the top 버튼을 부드럽게 스크롤 */
    scroll-behavior: smooth;
}

/* navigation */
nav {
    /* height: 100px;  */
    line-height: 100px;
}

nav section {
    display: flex;
    justify-content: flex-end;
    /* align-items: center;
    height: 100px; */
}

nav ul {
    display: flex;
}
/* 
nav li:first-child::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 12px 4px;
    background: #999;
} */



/* main */
main {
    padding-bottom: 200px;
}

section {
    /* width: 940px; */
    margin: auto;
}

h2 {
    margin: 56px 0;
}

.inner {
    padding: 24px;
}

.home-card {
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 24px;
}

.home-icon {
    grid-row: 1/span 3;
}


