@charset "utf-8";
@import url(reset.css);
@import url(typo.css);
@import url(section.css);

body{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-30deg, #fbb7d4 0%, #a9d4ff 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 4.5s linear infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 10% 10%;
    }
    100% {
        background-position: 90% 90%;
    }
}
/* 바로가기 버튼 */
.baro{
    font-family: 'NanumSquareRound';
    cursor: pointer;
    text-decoration: none;
    border-radius:10px;
    padding: 10px;
    display:inline;
    border:1px solid #222222;
    background: #ffffff;
}
.baro:hover{
    background: #000000;
    color:#fff;
}
.baro a{
    text-decoration: none;
    cursor: pointer;
}
.baro a:hover{
    color:white;
}
/* typo */
img { width: 100vw; }
.snow_wrap .snow_div {
  position: fixed;
  top: -10%;
  z-index: 9999;
  color: #fff;
  text-shadow : 0 0 5px rgba(0, 0, 0, 0.25);
  animation: snow_shake 3s ease-in-out infinite;  
  user-select: none;
}
.snow_wrap .snow_div p { animation: snow_fall 10s linear infinite; }

.snow_wrap .snow_div:nth-of-type(0) { left: 0%; animation-delay: 0s; }
.snow_wrap .snow_div:nth-of-type(0) p { animation-delay: 0s; }
.snow_wrap .snow_div:nth-of-type(1) { left: 10%; animation-delay: 1s; }
.snow_wrap .snow_div:nth-of-type(1) p { animation-delay: 1s; }
.snow_wrap .snow_div:nth-of-type(2) { left: 20%; animation-delay: 0.5s; }
.snow_wrap .snow_div:nth-of-type(2) p { animation-delay: 6s; }
.snow_wrap .snow_div:nth-of-type(3) { left: 30%; animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(3) p { animation-delay: 4s; }
.snow_wrap .snow_div:nth-of-type(4) { left: 40%; animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(4) p { animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(5) { left: 50%; animation-delay: 3s; }
.snow_wrap .snow_div:nth-of-type(5) p { animation-delay: 8s; }
.snow_wrap .snow_div:nth-of-type(6) { left: 60%; animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(6) p { animation-delay: 6s; }
.snow_wrap .snow_div:nth-of-type(7) { left: 70%; animation-delay: 1s; }
.snow_wrap .snow_div:nth-of-type(7) p { animation-delay: 2.5s; }
.snow_wrap .snow_div:nth-of-type(8) { left: 80%; animation-delay: 0s; }
.snow_wrap .snow_div:nth-of-type(8) p { animation-delay: 1s; }
.snow_wrap .snow_div:nth-of-type(9) { left: 90%; animation-delay: 1.5s; }
.snow_wrap .snow_div:nth-of-type(9) p { animation-delay: 3s; }
.snow_wrap .snow_div:nth-of-type(10) { left: 25%; animation-delay: 0.5s; }
.snow_wrap .snow_div:nth-of-type(10) p { animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(11) { left: 65%; animation-delay: 2.5s; }
.snow_wrap .snow_div:nth-of-type(11) p { animation-delay: 4s; }
.snow_wrap .snow_div:nth-of-type(12) { left: 85%; animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(12) p { animation-delay: 7.5s; }
.snow_wrap .snow_div:nth-of-type(13) { left: 5%; animation-delay: 0s; }
.snow_wrap .snow_div:nth-of-type(13) p { animation-delay: 2.5s; }
.snow_wrap .snow_div:nth-of-type(14) { left: 45%; animation-delay: 1.5s; }
.snow_wrap .snow_div:nth-of-type(14) p { animation-delay: 3.5s; }
.snow_wrap .snow_div:nth-of-type(15) { left: 75%; animation-delay: 1s; }
.snow_wrap .snow_div:nth-of-type(15) p { animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(16) { left: 35%; animation-delay: 2.5s; }
.snow_wrap .snow_div:nth-of-type(16) p { animation-delay: 4.5s; }
.snow_wrap .snow_div:nth-of-type(17) { left: 15%; animation-delay: 1s; }
.snow_wrap .snow_div:nth-of-type(17) p { animation-delay: 3s; }
.snow_wrap .snow_div:nth-of-type(18) { left: 95%; animation-delay: 0s; }
.snow_wrap .snow_div:nth-of-type(18) p { animation-delay: 2s; }

@keyframes snow_shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes snow_fall {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(110vh);
  }
}
/* layout 배치 */
/* 박스모델 속성, display, position */
img{
    width: 100px;
    height: 100px;
}
html{
    scroll-behavior: smooth;
}
/* navigation */
nav {
    height: 100px;
}

nav section {
    
    align-items: center;
}

nav li::before {
    content: "";
    display: inline-block;
    border-radius: 50px;
    width: 6px;
    height: 6px;
    margin: 0 8px 4px;
    background: #bbb;
}

nav li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    display: inline-block;
    line-height: 100px;
}
nav li a{
    cursor: pointer;
}

header {
    height: 200px;
    /* 높이와 같은 값을 준다 */
    line-height: 200px;
    background:url(../../assets2/bg\ \(1\).jpg) no-repeat 50% 50%/cover fixed;
}

header h1{
    font-size:50px;
    font-family: 'Cafe24Ssurround';
    font-style: italic;
    font-weight:700;
}
/* main */

main{
    padding-bottom: 200px;
}
section {
    width: 940px;
    margin: 0 auto;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight:700;
}

section>h2{
    padding: 50px 0px;
}

.figma {
    margin: 0
}

.home-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.home-icon {
    width: 100px;
    height: 100px;
}
.home-icon img{
    border-radius: 8px;
    box-shadow: 3px 3px px 4px rgba(90, 89, 90, 0.123);
}
.home-icon:hover img{
    transition:0.3s;
    transform:scale(1.1,1.1);
}

.home-description {
    width: 790px;

}


ul {
    text-align: right;
}

/* footer */
footer{
    align-items: center;
    padding-top: 40px;
    margin-top: -150px;
    text-align: center;
}

footer div a{
    cursor: pointer;
    padding:3px;
}


/* ////////////////////////////////////반응형css */


/* :root는 HTML 태그를 가리킨다. */
:root {
    /*  to the top 버튼을 부드럽게 스크롤 */
    scroll-behavior: smooth;
}

/* navigation */
nav {
    /* height: 100px;  */
    line-height: 100px;
}

nav section {
    display: flex;
    justify-content: flex-end;
    /* align-items: center;
    height: 100px; */
}

nav ul {
    display: flex;
}
/* 
nav li:first-child::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 12px 4px;
    background: #999;
} */



/* main */
main {
    padding-bottom: 200px;
}

section {
    /* width: 940px; */
    margin: auto;
}

h2 {
    margin: 56px 0;
}

.inner {
    padding: 24px;
}

.home-card {
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 24px;
}

.home-icon {
    grid-row: 1/span 3;
}


