@charset "utf-8";

*{
    cursor:url("../../assets2/pngwing.com\ \(23\).png")2 2,auto;
}
h3 {
    color: blue;
    
}

footer{
    color:white;
    background-color:#c49bb0;
    height: 150px;
}

/* to the top */

footer div{
    border-radius:5px;
    margin:0 auto;
    width: 100px;
    background:#fff;
}

footer div a{
    text-decoration: none;
}