@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
    box-sizing: border-box;
}

body,
ul {
    margin: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    font: 400 1.5rem/1.5 "Noto Sans KR", sans-serif;
}

:root {
    --w: 488px;
    --h: 488px;
}

.slide {
    position: relative;
    width: var(--w);
    height: var(--h);
    margin: 20px;
    overflow: hidden;
}

.slide ul {
    height: 100%;
}

.slide li {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide li:not(:first-child) {
    opacity: 0;
}

/* animation */
.slide li:nth-of-type(1) {
    animation: fade1 9s infinite;
}

.slide li:nth-of-type(2) {
    animation: fade2 9s infinite;
}

.slide li:nth-of-type(3) {
    animation: fade3 9s infinite;
}

@keyframes fade1 {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    43% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    43% {
        opacity: 1;
    }

    66% {
        opacity: 1;
    }

    76% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade3 {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    76% {
        opacity: 1;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.slide li {
    font-size: calc(var(--w) / 5);
    text-align: center;
    line-height: calc(var(--h) - 20px);
}

.slide li:nth-child(1) {
    background-image:url(./);
}

.slide li:nth-child(2) {
    background: #acacac;
}

.slide li:nth-child(3) {
    background: #999999;
}