@charset "utf-8";

*{
    box-sizing: border-box;
}
body {
    outline: 1px solid lime;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content:flex-start;
    /* 블록레벨요소의 가로 가운데 배치 (가로크기 지정 후 가운데 배치) */
    margin:0 auto;
    width: 1200px;
    height: 100px;
    margin-top:60px;
    border: 1px solid #999;
    
}

.gnb {
    margin:0 auto;
    margin-top:50px;
    border: 1px solid;
    background:red;
}

/* 1depth */
.main {
    display: flex;
}

.main>li {
    width: 160px;
    height: 32px;
    text-align: center;
    line-height:30px;
}

.main>li:hover {
    background: #333;
}

/* 2depth */
.sub {
    height: 0;
    background: rgba(0, 0, 0, .5);
    border: 1px solid red;
    padding:10px 0 20px;
    overflow: hidden;
    visibility: hidden;
    transition:0.3s;
    line-height:24px;
}

.main>li:hover .sub {
    height: 150px;
    visibility: visible;
    opacity:1;
}
.sub li a{
    padding: 4px 16px;
}
.sub li:hover {
    background: #111;
}