

body {
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font: 400 1.5rem/1.5 "Noto Sans KR", sans-serif;
}

.tabs {
    position: relative;
    left:500px;
    top:50px;
    width: 1920px;
    height: 200px;
    /* padding: 2px; */
    /* border: 1px solid; */
}
/* 탭 메뉴 */
.tabs label {
    margin:30px;
    z-index: 99;
    position: relative;
    left:30px;
    display: inline-block;
    padding: 50px 30px;
    background: #999;
    color: #777;
    cursor: pointer;
}
/* 탭의 내용,컨텐츠 */
.tabs div {
    margin-left:-500px;
    border:1px solid #ccc;
    display: none;
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 31px);
    padding: 16px;
}

.tabs input {
    display: none;
}

/* .tabs 안의 하위요소인 체크된 input 아래 동생 label을 선택 */
/* 실시간으로 체크되어있는 라벨의 변화 상태 */
.tabs input:checked+label {
    border:1px solid #ccc;
    background: #fff;
    color:black;
    border-bottom: none;
}

.tabs input:checked+label+div {
    display: block;
}

/* tab1 공지사항*/
.tab1 li{
    line-height:30px;
    border-bottom:1px solid black;
    margin-right:30px;
}


span{
    margin-right: 60px;
}

/* tab2 갤러리 */

.tab2 ul{
    display: flex;
    justify-content: space-evenly;
}

.tab2 li{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    height: 100px;
    background:#999;
}

.tab2 p{
    position: absolute;
    top:110px;
}

/* taB3 */

.tab3 li{
    line-height:30px;
    border-bottom:1px solid black;
    margin-right:30px;
}


span{
    margin-right: 60px;
}
