@charset "utf-8" ;

/* 글자,텍스트 */
/* 웹 폰트: 구글폰트, 눈누폰트, 네이버 폰트 */
/* 본문(body): 한글) noto sans kr 영문) noto sans */
/* 제목: 나눔스퀘어 네오 */

/* 실제 내 파일에 없는 폰트여도 이 링크를 걸어놓으면
실제 폰트가 내 파일에 있는것처럼 폰트를 적용시켜줌 */

/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 눈누폰트: 나눔스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


h1,h2,h3 {
  font-family: 'NanumSquareNeo-Variable', sans-serif;

}

h1,h3{
  font-size: 15px;
}

h2{
  font-size: 24px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}

a{color:black}