@charset "utf-8";
@import url(../hana_v2/css/reset.css);
@import url(../hana_v2/css/typo.css);

/* 공통 */
/* 뷰포트
1. vw
2. vh
3. vmin
4. vmax */

section{
    background:url(section4_bg.png) no-repeat ;
    /* 창 기준 단위 vh */
    height: 100vh;
}
.ibx{
    align-items:center;
    height: 100%;
    border:1px solid;
    display: flex;
    width: 1120px;
    margin: 0 auto;
}
#s4 .cont{
    width: 560px;
    background: #a3acff;
}

#s4 .link a {
    display: flex;
    padding: 16px 24px;
    background: #4d0686;
}