@charset "utf-8";

/* reset */
body {
    margin-left:0;
    margin-top:0;
    margin:0;
}

a {
    text-decoration: none;
}
body,
ul,
h1,
h2 {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

.s4 li{
    margin-left:0;
}
/* typo */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{font-family: 'Pretendard-Regular';}

/* footer */
.footer {
    width: 100%;
    height: 253.5px;
    position: absolute;
    background: #212121;
    margin-bottom: 0;

}

.footer_line {
    display: flex;
    align-items: center;
    background: #F0CD00;
    height: 60px;
}

.footer_line p {
    margin-left: 320px;
}

.footer img{
    margin-top:60px;
    margin-left:320px;
}

.footer_sns img{
    position: relative;
    left:655px;
    bottom:100px;
    margin-right:5px;
    margin-left:0;
}

.footer p {
    display: flex;
    position:absolute;
    font-weight: 500;
    line-height: 24.16px;
    color: #989B98;
    font-size: 14.5px;
    left:320px;
    top: 100px;
}

.footer_right{
    display: flex;
    position: relative;
    left:1000px;
    top:50px;
    margin:10px;
    color:#909090;
    position: absolute;
}

.footer_right ul li{
    margin-right:30px;
    margin-top:10px;
}

.s4_text p{
    margin-top:50px;
    display: flex;
    justify-content: center;
}

.s4_text div{
    margin-top:20px;
    margin-left:875px;
    width: 164px;
    line-height:50px;
    background: #F0CD00;
    text-align: center;
    display: flex;
    justify-content: center;
}
