@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

body{
    overflow-x: hidden;
}

/* 헤더 */
.top {
    font-size: 15px;
    display: flex;
    width: 100%;
    height: 50px;
    background: #F0CD00;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.top_link {
    margin: 30px;
}

.top_link a {
    margin-right: 30px;
}

.top_link2 {
    padding: 0;
    margin-left: 0;
}

.top_link2 a {
    margin-left: 30px;
}

.top_link2 :nth-of-type(5) {
    margin-left: 15px;
}

.top_link2 :nth-of-type(6) {
    margin-left: 5px;
}

.top_link2 :nth-of-type(7) {
    margin-left: 5px;
}

.top_link2 :nth-of-type(8) {
    margin-right: 30px;
    margin-left: 5px;
}

.top a {
    color: white
}

.top img {
    margin-left: 5px;
}


header {

    margin: 0 auto;
    width: 1100px;
    height: 100px;
}

.tlogo {

    align-items: center;
    width: 375px;
    margin: 0 auto;
}

.tlogo div {
    height: 20px;
}

.gnb {
    z-index: 9999;
    margin-top: 20px;
    background: white;
    display: flex;
    justify-content: center;
}

header {
    margin-top: 0;
}

/* 1depth 네비게이션 메인메뉴 */
.main {
    font-size: 18px;
    display: flex;
    text-align: center;
    /* border:1px solid black; */
}

.main>li {
    width: 160px;
    height: 32px;
    text-align: center;
    line-height: 30px;
}

.main>li:hover {
    margin: 0 auto;
    background: #F0CD00;
}

.main::before {
    z-index: 9999;
    content: "";
    position: absolute;
    top: 180px;
    right: 300px;
    left: 1px;
    margin: 0 auto;
    display: block;
    width: 1900px;
    height: 100px;
    opacity: 0;
    transition: 0.4s;
    background: #fff;
}

.main:hover::before {
    height: 150px;
    opacity: 1;
}

.main li a {
    color: #1a1a1a;
}

/* 2depth 네비게이션 서브메뉴 */
.sub {
    z-index: 9999;
    padding-top: 20px;
    font-size: 15px;
    width: 100%;
    justify-content: center;
    position: relative;
    opacity: 0;
}

.main:hover .sub {
    transition: 0.3s;
    height: 150px;
    visibility: visible;
    opacity: 1;
}

.sub li:hover {
    font-weight: 700;
    background: rgb(239, 238, 238);
}

/* section 1 */
.s1{
    width: 100%;
    display: flex;
    justify-content: center;
    position:relative;
    top:-45px;
    margin-bottom:100px;
}
.s1 .bxslider div{
    width: 100%;
}

/* tothetop */
html {
    scroll-behavior: smooth;
    }

.tothetop{
    position: fixed;
    bottom: 200px;
    right: 100px;
    height: 50px;
    width: 70px;
}

.tothetop a{
    margin:10px;
    display: block;
    height: 50px;
    /*   텍스트 숨기기 */
    text-indent: -9999em;
    background: url(../assets/images/tothetop.png);
}

.tothetop a:nth-of-type(1){
    background: url(../assets/images/tothetop3.png);
}
.tothetop a:nth-of-type(2){
    background: url(../assets/images/tothetop2.png);
}
/* section 2 */
/* 탭 */

body {
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font: 400 1.5rem/1.5 "Noto Sans KR", sans-serif;
}

.tabs {
    display: flex;
    margin:0 auto;
    transition: 3s;
    width: 1000px;
}

h1 {
    display: flex;
    justify-content: center;

}

/* 탭 메뉴 */
.tabs label {
    border-radius: 8px;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    width: 200px;
    margin: 30px;
    z-index: 99;
    position: relative;
    display: inline-block;
    padding: 20px 50px 20px 50px;
    background: #F0E9E1;
    color: #B38A6F;
    cursor: pointer;
}

/* 탭의 내용,컨텐츠 */
.tabs div {
    display: none;
    position: absolute;
    margin-top: 150px;
    animation: new 3s 1;
    animation-direction:normal;
}

@keyframes new {
    0% {
      top: 1090px;
    }
    30% {
      top: 1119px;
    }
  }

.tabs input {
    display: none;
}

.tabs input:checked+label {
    box-shadow: 5px 7px 20px rgb(56, 56, 56, 0.2);
    width: 200px;
    border: 1px solid #ccc;
    background: #F1D112;
    color: rgb(55, 55, 55);
    border-bottom: none;
}

.tabs input:checked+label+div {

    display: block;
}

.tab1:checked div{
    transition: 3s;
}


span {
    margin-right: 60px;
}

.new_more {
    text-align: center;
    display: flex;
    margin: 0 auto;
    font-size: 18px;
    line-height: 45px;
    position: relative;
    top: 480px;
    left: 5px;
    width: 200px;
    height: 45px;
    background: #F0CD00;
}

.new_more a{
    width: 300px;
    text-align: center;
    color:#1C1C1B;
}

/* section 3 */
/* 페이드 시작 */

:root {
    --w: 488px;
    --h: 488px;
}

.fade {
    position: relative;
    left:-50px;
    width: var(--w);
    height: var(--h);
    margin: 20px;
    overflow: hidden;
}

.fade ul {
    height: 100%;
}

.fade li {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fade li:not(:first-child) {
    opacity: 0;
}

.fade li:nth-of-type(1) {
    animation: fade1 9s infinite;
}

.fade li:nth-of-type(2) {
    animation: fade2 9s infinite;
}

.fade li:nth-of-type(3) {
    animation: fade3 9s infinite;
}

@keyframes fade1 {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    43% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    43% {
        opacity: 1;
    }

    66% {
        opacity: 1;
    }

    76% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade3 {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    76% {
        opacity: 1;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.fade li:nth-child(1) {
    background-image:url(../assets/images/compose1.png);
}

.fade li:nth-child(2) {
    background-image:url(../assets/images/compose2.png);
}

.fade li:nth-child(3) {
    background-image:url(../assets/images/compose3.png);
}
/* 페이드 끝 */

.s3 {
    margin-top: 700px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}


.slogo {
    z-index: 99;
    left: 70px;
    position: relative;
    animation-direction: normal;
    animation: s3logo 3s 1;
}

@keyframes s3logo {
    0% {
      left: 0px;
    }
    100% {
      left: 70px;
    }
  }


.compose {
    position: relative;
    top: 30px;
}

.s3text {
    margin-right: 50px;
    margin-top: 300px;
}

.s3tab {
    display: flex;
    justify-content: center;
    margin:0 auto;
    background: #F0CD00;
    position:absolute;
    margin-top: 460px;
    margin-left:900px;
    height: 40px;
    align-items: center;
    padding: 5px 30px 5px 30px;
}

.s3tab a{
    display: flex;
    justify-content: center;
    position: relative;
}

/* section 4 */
.s4 {
    margin-top: 200px;
    margin-bottom: 70px;
}

.s4 .text1{
    display: flex;
    justify-content: center;
    font-size:23px;
    color:#1C1C1B;
    font-weight: 100;
}
.s4logo {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    animation: s4logo 3s 1;
}

.s4 ul {
    display: flex;
    justify-content: center;
}

.s4 li {
    color: rgb(30, 30, 30);
    text-align: center;
    width: 355px;
    height: 500px;
    margin-left: 20px;
}

.border1:hover {
    transform: scale(1.05, 1.05);

}

.border2:hover {
    transform: scale(1.05, 1.05);

}

.border3:hover {
    transform: scale(1.05, 1.05);

}


.border1 {
    transition: 0.3s;
    border: 1px solid rgb(204, 204, 204);
    margin-right: 20px;
    border-radius: 10px;
    font-size:17px;
}

.border2 {
    transition: 0.3s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    font-size:17px;
}

.border3 {
    transition: 0.3s;
    margin-left: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
        font-size:17px;
}

.s4_text p {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.s4_text div {
    margin:0 auto;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    position: relative;
    width: 170px;
    height: 45px;
    background: #F0CD00;
    margin-bottom:100px;
}

.s4_text a{
    color:#1C1C1B;
}

/* 푸터 */
.footer {
    width: 100%;
    height: 253.5px;
    position: absolute;
    background: #212121;
    margin-bottom: 0;

}

.footer_line {
    display: flex;
    align-items: center;
    background: #F0CD00;
    height: 60px;
}

.footer_line p {
    margin-left: 320px;
    margin-right: -290px;
}


.footer img {
    margin-top: 60px;
    margin-left: 320px;
}

.footer_sns img {
    position: relative;
    left: 655px;
    bottom: 100px;
    margin-right: 5px;
    margin-left: 0;
}

.footer p {
    display: flex;
    position: absolute;
    font-weight: 500;
    line-height: 24.16px;
    color: #989B98;
    font-size: 14.5px;
    left: 320px;
    top: 100px;
}

.footer_right {
    display: flex;
    position: relative;
    left: 1000px;
    top: 50px;
    margin: 10px;
    color: #909090;
    position: absolute;
}

.footer_right a {
    color: #909090;
}

.footer_right ul li {
    margin-right: 30px;
    margin-top: 10px;
}