@charset "utf-8";
/* @import url(common.css); */
@import url(reset.css);
@import url(typo.css);
body {
    font-family: 'Pretendard-Regular';
}
.s1 h1 {
    /* letter-spacing: 4px; */
    font-family: "Lexend Deca", sans-serif;
    font-size: 96px;
    font-weight: normal;
    color: #ffd900;
}

/* typo */
.s2 h1{
    font-size:35px;
}

.s2 .new{
    font-size:23px;
}

.new2 div{
    font-size:23px;
}

select {
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    font-size: 16px;
}

input {
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    color: #d6d6d6;
}

* {
    box-sizing: border-box;
}

body,h1,h2,ul,li,p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}
    /* background (흰색)꼭지정해야 한다. 아니면 투명이고 다른사람이 바꿀수있다. */
body {
    background: #fff;
}


html {scroll-behavior: smooth;}

/* header */
.top {
    font-size: 15px;
    display: flex;
    width: 100%;
    height: 50px;
    background: #F0CD00;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.top_link {
    margin: 30px;
}

.top_link a {
    margin-right: 30px;
}

.top_link2 {
    padding: 0;
    margin-left: 0;
}

.top_link2 a {
    margin-left: 30px;
}

.top_link2 :nth-of-type(5) {
    margin-left: 15px;
}

.top_link2 :nth-of-type(6) {
    margin-left: 5px;
}

.top_link2 :nth-of-type(7) {
    margin-left: 5px;
}

.top_link2 :nth-of-type(8) {
    margin-right: 30px;
    margin-left: 5px;
}

.top a {
    color: white
}

.top img {
    margin-left: 5px;
}


header {

    margin: 0 auto;
    width: 1100px;
    height: 100px;
}

.tlogo {

    align-items: center;
    width: 375px;
    margin: 0 auto;
}

.tlogo div {
    height: 20px;
}

.gnb {
    z-index: 9999;
    margin-top: 20px;
    background: white;
    display: flex;
    justify-content: center;
}

header {
    margin-top: 0;
}

/* 1depth 네비게이션 메인메뉴 */
.main {
    font-size: 18px;
    display: flex;
    text-align: center;
    /* border:1px solid black; */
}

.main>li {
    width: 160px;
    height: 32px;
    text-align: center;
    line-height: 30px;
}

.main>li:hover {
    margin: 0 auto;
    background: #F0CD00;
}

.main::before {
    z-index: 9999;
    content: "";
    position: absolute;
    top: 180px;
    right: 300px;
    left: 1px;
    margin: 0 auto;
    display: block;
    width: 1900px;
    height: 100px;
    opacity: 0;
    transition: 0.4s;
    background: #fff;
}

.main:hover::before {
    height: 150px;
    opacity: 1;
}

.main li a {
    color: #1a1a1a;
}

/* 2depth 네비게이션 서브메뉴 */
.sub {
    z-index: 9999;
    padding-top: 20px;
    font-size: 15px;
    width: 100%;
    justify-content: center;
    position: relative;
    opacity: 0;
}

.main:hover .sub {
    transition: 0.3s;
    height: 150px;
    visibility: visible;
    opacity: 1;
}

.sub li:hover {
    font-weight: 700;
    background: rgb(239, 238, 238);
}

/* 섹션1 */
section .s1 {
    position: relative;
}

.s1 h1 {
    position: absolute;
    /* 자식에게 부모 크기의 50% */
    left: 50%;
    top: 50%;
    /* transform: translate(-50%,-50%);  */
    margin-left: -150px;
}
.s1 div {
    width: 100%;
    margin: 0 aute;
    overflow: hidden;
}

/* 섹션2 */
.s2 {
    width: 1236px;
    margin: 0 auto;
}

form {
    text-align: right;
    margin: 96px 0 40px 0;
}

select {
    font-size: large;
    width: 100px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #333;
}

input[type="search"] {
    color: #333;
    width: 328px;
    height: 45px;
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid #333;
}

form div {
    position: relative;
    display: inline-block;
}

form div::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 24px;
    height: 23px;
    background: url(../assets/images/search.png) no-repeat;
}

.container {
    font-size: 24px;
    letter-spacing: 6%;
    line-height: 116px;
}
.container li:nth-child(1) {
    border-top: 1px solid #d9d9d9;
}
.container li {
    border-bottom: 1px solid #d9d9d9;
}

.container .num {
    display: inline-block;
    width: 80px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 32px;
}

.container .text {
    display: inline-block;
    width: 1000px;
}
.container .date {
    font-size: 14px;
    padding: 0 32px;
}

.more {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 96px;
}
.more a {
    font-size: larger;
    color: #757575;
    display: inline-block;
    border: 3px solid #F0CD00;
    width: 170px;
    line-height: 40px;
}

.s2 .topB {
    position: fixed;
    width: 92px;
    height: 92px;
    bottom: 10px;
    right: 20px;
}

.s2 .topB a {
    display: block;
    height: 100%;
    /* 텍스트 숨기기  */
    text-indent: -9999em;
    background: url(../assets/images/top.png);
}

/* footer */
.footer {
    width: 100%;
    height: 253.5px;
    position: absolute;
    background: #212121;
    margin-bottom: 0;

}

.footer_line {
    display: flex;
    align-items: center;
    background: #F0CD00;
    height: 60px;
}

.footer_line p {
    margin-left: 320px;
    margin-right:-290px;
}


.footer img{
    margin-top:60px;
    margin-left:320px;
}

.footer_sns img{
    position: relative;
    left:655px;
    bottom:100px;
    margin-right:5px;
    margin-left:0;
}

.footer p {
    display: flex;
    position:absolute;
    font-weight: 500;
    line-height: 24.16px;
    color: #989B98;
    font-size: 14.5px;
    left:320px;
    top: 100px;
}

.footer_right{
    display: flex;
    position: relative;
    left:1000px;
    top:50px;
    margin:10px;
    color:#909090;
    position: absolute;
}

.footer_right a{
    color:#909090;
}

.footer_right ul li{
    margin-right:30px;
    margin-top:10px;
}




