    @charset "utf-8";

    @import url(./reset.css);
    @import url(./typo.css);


    body {
        margin-left:0;
        margin-top:0;
        margin:0;
    }

    a {
        /* 텍스트 밑줄 제거 */
        text-decoration: none;
    }
    body,
    ul,
    h1,
    h2 {
        margin: 0;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    .s4 li{
        margin-left:0;
    }

    /* header */
    .top {
        font-size: 15px;
        display: flex;
        width: 100%;
        height: 50px;
        background: #F0CD00;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
    }

    .top_link {
        margin: 30px;
    }

    .top_link a {
        margin-right: 30px;
    }

    .top_link2 {
        padding: 0;
        margin-left: 0;
    }

    .top_link2 a {
        margin-left: 30px;
    }

    .top_link2 :nth-of-type(5) {
        margin-left: 15px;
    }

    .top_link2 :nth-of-type(6) {
        margin-left: 5px;
    }

    .top_link2 :nth-of-type(7) {
        margin-left: 5px;
    }

    .top_link2 :nth-of-type(8) {
        margin-right: 30px;
        margin-left: 5px;
    }

    .top a {
        color: white
    }

    .top img {
        margin-left: 5px;
    }


    header {

        margin: 0 auto;
        width: 1100px;
        height: 100px;
    }

    .tlogo {

        align-items: center;
        width: 375px;
        margin: 0 auto;
    }

    .tlogo div {
        height: 20px;
    }

    .gnb {
        z-index: 9999;
        margin-top: 20px;
        background: white;
        display: flex;
        justify-content: center;
    }

    header {
        margin-top: 0;
    }

    /* 1depth 네비게이션 메인메뉴 */
    .main {
        font-size: 18px;
        display: flex;
        text-align: center;
        /* border:1px solid black; */
    }

    .main>li {
        width: 160px;
        height: 32px;
        text-align: center;
        line-height: 30px;
    }

    .main>li:hover {
        margin: 0 auto;
        background: #F0CD00;
    }

    .main::before {
        z-index: 9999;
        content: "";
        position: absolute;
        top: 180px;
        right: 300px;
        left: 1px;
        margin: 0 auto;
        display: block;
        width: 1900px;
        height: 100px;
        opacity: 0;
        transition: 0.4s;
        background: #fff;
    }

    .main:hover::before {
        height: 150px;
        opacity: 1;
    }

    .main li a {
        color: #1a1a1a;
    }

    /* 2depth 네비게이션 서브메뉴 */
    .sub {
        z-index: 9999;
        padding-top: 20px;
        font-size: 15px;
        width: 100%;
        justify-content: center;
        position: relative;
        opacity: 0;
    }

    .main:hover .sub {
        transition: 0.3s;
        height: 150px;
        visibility: visible;
        opacity: 1;
    }

    .sub li:hover {
        font-weight: 700;
        background: rgb(239, 238, 238);
    }

    /*세션영역  */
    div ul li {margin: 0;}

    div {
        width: 1920px;
        margin: 0 auto;
    }

    section { 


        /* margin-left: 200px; */
        margin-left:130px;
        
    }

    h2 {
        font-size: 50px;
        text-align: center;
        margin-top: 140px;
        margin-bottom: 100px;

        opacity: 1;
    }

    .box{
        background:#61443A;
        height: 200px;
        margin-bottom: 100px;
        text-align: center;
        border-radius: 20px;
        padding-top: 100px;
        /* margin:-60px 0 0 0 ; */

    }

    h3,b {
    position: relative;
        z-index: 100;
    

        justify-content:left;}
            
    h3 {font-size: 35px;
    
        color :rgb(234, 234, 105);
        margin: 10px 0 0 0 ;
        


    }
    b {font-size:14px; padding-bottom:20px;
        line-height: 10px;
    font-family: Gmarket sans, sans-serif;
    color :white }



    li {
        display: inline-block;
    
        margin: 0 10px 10px 0;
    
        margin-bottom :5px;

    }

    li>div {
        
        width: 400px;
        height: 380px;
        /* padding-bottom:70px; */
    

    }


    ul {
        list-style: none;
        flex-wrap: wrap;
    }





    button:hover{font-size: 20px;
        font-weight: 5px;
        transition: 0.3s;
        background: rgb(204, 243, 8);
        visibility: visible;
        opacity: 1;
    }


    span>button {
        display: inline-block;
        border: 2px solid  #F0CD00;
        background: burlywood;
        margin-bottom: 50px;
        margin-left: 45%;
        width: 190px;
        height: 42px;
        text-align: center;
        border-radius: 22px;

    }

    /* footer */
    .footer {
        width: 100%;
        height: 253.5px;
        position: absolute;
        background: #212121;
        margin-bottom: 0;

    }

    .footer_line {
        display: flex;
        align-items: center;
        background: #F0CD00;
        height: 60px;
    }

    .footer_line p {
        margin-left: 320px;
        margin-right:-290px;
    }


    .footer img{
        margin-top:60px;
        margin-left:320px;
    }

    .footer_sns img{
        position: relative;
        left:655px;
        bottom:100px;
        margin-right:5px;
        margin-left:0;
    }

    .footer p {
        display: flex;
        position:absolute;
        font-weight: 500;
        line-height: 24.16px;
        color: #989B98;
        font-size: 14.5px;
        left:320px;
        top: 100px;
    }

    .footer_right{
        display: flex;
        position: relative;
        left:1000px;
        top:50px;
        margin:10px;
        color:#909090;
        position: absolute;
    }

    .footer_right a{
        color:#909090;
    }

    .footer_right ul li{
        margin-right:30px;
        margin-top:10px;
    }

