@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{font-family: 'Pretendard-Regular';}


.header{
    display: flex;
    justify-content: space-around
}

.logo{
    margin-top:67px;
}

.top1{
    display: flex;

}

.top1 li{
    color:#666;
    font-weight: 900;
    font-size:13px;
    margin-right:24px;
    margin-top:23px;

}

.top2{
    display: flex;
    font-weight: 700;
    color:#363535
}

.top2 li{
    margin-right:48px;
    margin-top:30px;
    margin-left:-10px;
}

.text{
    margin-top:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text p:nth-of-type(2){
    margin-top:-20px;
    margin-bottom:35px;
}

.button{
    display: flex;
    flex-direction: column;
    width: 436px;
    margin:0 auto;
    margin-bottom:100px;
}

.button a{
    font-weight: 900;
    height: 59px;
    margin-bottom:20px;
    text-align: center;
    align-content: center;
}

.button img{
    width: 20px;
}

.button a:nth-of-type(1){
    background:#FFC120;
    border-radius: 7px;
    color:#1A1919
}
.button a:nth-of-type(2){
    background:#FEE500;
    border-radius: 7px;
    color:#391B1B;
}
.button a:nth-of-type(3){
    background:#03C75A;
    border-radius: 7px;
    color:white;
}

