@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

/* @import는 상단에 기록해야한다. */
@import url(common/reset.css);
@import url(common/typo.css);
@import url(header.css);

/* 상단영역 */
.top_wrap{
    display: flex;
}
/* 헤더 */

/* 로고 */
.logo{
    margin-top:50px;
    display: flex;
    align-items: center;
    font-size:30px;
    width: 190px;
    text-align: center;
}

/* 네비게이션 */
.gnb {
    margin-top:50px;
    align-self: flex-end;
    background: #111;
}

/* 1depth */
.main {
    display: block;
    border: 1px solid;
    height: 30px;
}

.main>li {
    width: 160px;
    height: 30px;
    /* 모든 메뉴 가로 가운데 배치 */
    text-align: center;
    /* 메인메뉴 텍스트 세로 가운데 배치: line-height크기를 height와 같은 크기로 지정 */
    line-height: 30px;
}

.main>li:hover {
    background: #333;
}

/* 2depth */
.sub {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    padding: 10px 0 20px;
    /* 숫자가 작을 수록 빠르다. */
    transition: .3s;
    line-height: 2;
}

/* 선택자가 변경됨: >li 제거 */
/* 유형1: .main>li:hover .sub { */
.main:hover .sub {
    height: 150px;
    visibility: visible;
    opacity: 1;
}

.sub li a {
    padding: 4px 30px;
}

.sub li:hover a {
    background: #111;
}

/* 유형3의 추가 코드 */
header{
    display: flex;
    flex-direction: column;
}

header .spot_menu{
    position: absolute;
}
.gnb {
    position: relative;
}

/* 가상 서브바 */
.main::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 30px;
    right: 0;
    display: block;
    width: 1230px;
    height: 0px;
    opacity: 0;
    transition: .3s;
    background: rgba(0, 0, 0, 0.5);
}

.main:hover::before {
    height: 150px;
    opacity: 1;
}
/* 슬라이드 */
#slide {
    width:700px;
    height:700px;
    background: rgba(240, 68, 103, 0.5);
}

/* 메인 콘텐츠 */
#main_contents {
    width: 1340px;
    border: 1px solid;
}

/* 링크 영역 */
#link {
    height: 100px;
    padding: 20px;
    background: bisque;
}
#link ul {
    display: flex;
    justify-content: space-evenly;
}
#link li a {
    display: flex;
    align-items: center;
}
/* 아이콘 이미지 */
#link ul li a span {
    width: 60px;
    height: 60px;
    background: #ccc;
    margin-right: 24px;
}

/* 배너 영역 */
#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: rgb(255, 255, 255);
}

/* 배너 이미지 */
/* 플렉스 아이템 요소는 display:block; 이다. */
#banner span {
    width: 120px;
    height: 100px;
    background: #ccc;
}

/* 배너 타이틀 및 설명글 */
#banner>div {
    width: 1000px;
    padding-right: 200px;
}
#banner>div h2 {
    margin-bottom: 16px;
}

/* 공지사항 및 갤러리 */
#tab_wrap {
    height: 300px;
}

#tab_wrap .tabs {
    position: relative;
    left: 50px;
    top: 30px;
    width: 550px;
    height: 220px;
}

#tab_wrap .tabs input {
    display: none;
}

/* 탭의 버튼 */
#tab_wrap .tabs label {
    position: relative;
    left: 24px;
    top: 1px;
    display: inline-block;
    /* label의 높이는 4px */
    padding: 4px 24px;
    background: #999;
    color: #777;
    /* 손 모양 */
    cursor: pointer;
}

/* .tabs 안의 하위요소인 체크된 input 아래 동생 label을 선택 */
#tab_wrap .tabs input:checked+label {
    z-index: 99;
    background: #fff;
    color: #111;
    border: 1px solid #ccc;
    border-bottom: none;
}

/* 탭의 콘텐츠 */
#tab_wrap .tabs>div {
    display: none;
    /* position:absolute;이면 width는 콘텐츠 크기 */
    position: absolute;
    width: 100%;
    /* 32px은 label의 높이 */
    height: calc(100% - 32px);
    padding: 16px 24px;
    border: 1px solid #ccc;
}

/* 체크된 input의 아래 label 아래 div만 보이게한다. */
#tab_wrap .tabs input:checked+label+div {
    display: block;
}

/* 공지사항의 콘텐츠 */
#tab_wrap .tab1 li {
    line-height: 2.3;
    border-bottom: 1px dotted #ccc;
}
#tab_wrap .tab1 li a {
    display: inline-block;
    width: 422px;
}

/* 갤러리의 콘텐츠 */
#tab_wrap .tab2 ul {
    display: flex;
    justify-content: space-between;
    line-height: 2.3;
    margin-top: 8px;
}
#tab_wrap .tab2 span {
    display: block;
    width: 150px;
    height: 100px;
    background: #ccc;
}

/* 푸터 */

.flogo a {
    color: white;
}

footer {
    display: flex;
    text-align:center;
    align-items: center;
    background: #000;
    color: white;
    width:100%;
    height: 100px;

}

footer ul {
    color: white;
    display: flex;
}

footer ul li a {
    color: white;
}

footer ul li:not(:last-child)::after {
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
}

footer .flogo {
    width: 190px;
}

footer p {
    width: 900px;
}

