
/* 가상클래스 */
/* 선택자1:not(선택자2) - 선택자2를 제외한 선택자1
    li:not(:last-child) - 마지막 li를 제외한 li */

.flogo a {
    color: white;
}

footer {
    display: flex;
    align-items: center;
    background: #000;
    color: white;
    width: 1100px;
    height: 100px;

}

footer ul {
    color: white;
    display: flex;
}

footer ul li a {
    color: white;
}

footer ul li:not(:last-child)::after {
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
}

footer .flogo {
    width: 190px;
}

footer p {
    width: 900px;
}