

/* 헤더영역 */
.container {
    display: flex;
    justify-content:space-between;
    align-items:center;
    /* 블록레벨요소의 가로 가운데 배치: width, margin */
    width: 1340px;
    margin: 0 auto;
    height: 100px;
    border: 1px solid;
}

/* 로고 */
.logo{
    font-size:30px;
    width: 190px;
    text-align: center;
}

/* 네비게이션 */
.gnb {
    align-self: flex-end;
    background: #111;
}

/* 1depth */
.main {
    display: flex;
    border: 1px solid;
    height: 30px;
}

.main>li {
    width: 160px;
    height: 30px;
    /* 모든 메뉴 가로 가운데 배치 */
    text-align: center;
    /* 메인메뉴 텍스트 세로 가운데 배치: line-height크기를 height와 같은 크기로 지정 */
    line-height: 30px;
}

.main>li:hover {
    background: #333;
}

/* 2depth */
.sub {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    padding: 10px 0 20px;
    /* 숫자가 작을 수록 빠르다. */
    transition: .3s;
    line-height: 2;
}

/* 선택자가 변경됨: >li 제거 */
/* 유형1: .main>li:hover .sub { */
.main:hover .sub {
    height: 150px;
    visibility: visible;
    opacity: 1;
}

.sub li a {
    padding: 4px 30px;
}

.sub li:hover a {
    background: #111;
}

/* 유형3의 추가 코드 */
header{
    position: relative;
}
.gnb {
    position: relative;
}

/* 가상 서브바 */
.main::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 30px;
    right: 0;
    display: block;
    width: 1230px;
    height: 0px;
    opacity: 0;
    transition: .3s;
    background: rgba(0, 0, 0, 0.5);
}

.main:hover::before {
    height: 150px;
    opacity: 1;
}