

/* 링크영역 */
#link {
    width: 1340px;
    height: 100px;
    background: rgb(255, 206, 208);
    padding: 10px;
}

#link ul {
    display: flex;
    justify-content: space-evenly;
}


#link ul li {
    display: flex;
    vertical-align: middle;
    margin-right: 24px;
}

#link ul li p {
    font-weight: 700;
    align-content: center;
    margin-left: 10px;

}

/* 링크영역의 아이콘 이미지 */
#link div {
    width: 75px;
    height: 75px;
    background: #959595;
}