@charset "utf-8";
@import url(reset.css);
@import url(typo.css);
@import url(section.css);

/* layout 배치 */
/* 박스모델 속성, display, position */
html{
    scroll-behavior: smooth;
}
/* navigation */
nav {
    height: 100px;
}

nav section {
    align-items: center;
}

nav li:first-child::after {
    content: "";
    display: inline-block;
    border-radius: 50px;
    width: 6px;
    height: 6px;
    margin: 0 8px 4px;
    background: #bbb;
}

nav li {
    display: inline-block;
    line-height: 100px;
}

header {
    height: 200px;
    /* 높이와 같은 값을 준다 */
    line-height: 200px;
    background:url(../assets/bg-light.png) no-repeat 50% 50%/cover fixed;
}

/* main */

main{
    padding-bottom: 200px;
}
section {
    width: 940px;
    margin: 0 auto;
}

h2 {
    margin: 56px 0;
}

.figma {
    margin: 0
}

.home-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.home-icon {
    width: 100px;
    height: 100px;
}

.home-description {
    width: 790px;

}


ul {
    text-align: right;
}

/* footer */
footer{
    text-align: center;
}


