@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    color:#333;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
    
}
#wrap{
    
    width: 1000px;
    height: 650px;
    display: flex;
}
#aside{
    width: 200px;
    height: 650px;
}
.logo{
    width: 100%;
    height: 20%;
    background: #fde5e5;

}
.nav{
    width: 100%;
    height: 80%;
    background: #fdc6c6;
}
.nav > ul{
    padding: 10px;
}
.nav > ul > li{
    position: relative;
}
.nav > ul > li > a{
    width:140px;
    padding: 10px 20px;
    display: inline-block;
    background: #eeff59;
}
.nav > ul > li > a:hover{
    background: #59ff61;
}
/* submenu */
.nav > ul > li > ul{
    display: none;
    background: #ff4ee7;
    position: absolute;
    top:0;
    right:-180px;
}
.nav > ul > li > ul > li{

}
.nav > ul > li > ul > li > a{
    width:140px;
    padding: 10px 20px;
    display: inline-block;
    background: #a16eff;
}
.nav > ul > li > ul > li > a:hover{
    background: #15ff8a;
}
#main{
    width: 800px;
    height: 650px;
}
/* 슬라이드드 */
#slider{
    width: 100%;
    height: 350px;
    background: #ffd8d8;
    overflow: hidden;
}
.sliderWrap{
    width: 400%;
    display: flex;
}

.contents{
    width: 100%;
    height: 200px;
    display: flex;
}
.notice{
    width: 33.3%;
    height: 100%;
    background: #f18f8f;
    font-size:13px;
}
.gallery{
    width: 33.3%;
    height: 100%;
    background: #c45a5a;

}
.banner{
    width: 33.3%;
    height: 100%;
    background: #a71a1a;

}
#footer{
    width: 100%;
    height: 100px;
    display: flex;
}
.footer1{
    width: 20%;
    height: 100%;
    background: #f07676;

}
.footer2{
    width: 80%;
    height: 100%;
    background: #bb2d2d;

}
.footer2-1{
    width:100%;
    height:50px;
    background: #2dbbaf;

}
.footer2-2{
    width:100%;
    height:50px;
    background: #2d42bb;

}
