@charset "utf-8";


*{
    margin: 0;
    padding: 0;
    color:#333;
}
a{
    list-style: none;
    text-decoration: none;
}
li{
    list-style: none;
}
#wrap{
    width: 100%;
    display: flex;
}

#aside{
    width: 200px;
    /* 가로길이 세로길이 제대로 재기! */
    height:850px;
}

.logo{
    width: 100%;
    height: 20%;
    background: #ebcccc;
}
.nav{
    width: 100%;
    height: 80%;
    background: #e0a9a9;
}

.nav > ul{
    /* 윗부분 거리 줄때 p20 : 마진이 안된다 싶으면 패딩 넣기기 */
    padding-top: 50px;
    text-align: center;
    position: relative;
}
.nav > ul > li{
    
}
.nav > ul > li > a{
    display: inline-block;
    background: #fcff50;
    width: 140px;;
    padding: 10px 20px;
}
/* 서브메뉴뉴 */
.nav > ul > li > ul{
    padding-top: -20px;
    position: absolute;
    display: flex;
    width: 500px;
    right:-500px;
}
.nav > ul > li > ul > li{

}
.nav > ul > li > ul > li > a{
    display: inline-block;
    padding: 10px;
}

#main{
    width:calc(100% - 200px);
    height: 850px;
}

#slider{
    width: 100%;
    height: 400px;
    background: #d38c8c;

}
.banner{
    width: 100%;
    height: 200px;
    background: #cf7474;

}
.notice{
    width: 100%;
    height: 250px;
    background: #d15f5f;

}

#footer{
    width: 100%;
    height: 120px;
    background: #a13f3f;
}
.footer1{
    width: 20%;
    height:100%;
    background: #aa3030;
}