@charset "utf-8";

/* 사용후 지울것 */
body * {
    outline: 1px solid red;
}

/* 공통 */
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body,
ul {
    margin: 0;
}

body {
    color: #333;
    background: #fff;
    /* font: [굵기] [기울임] 크기 글꼴; */
    font: 1.5rem Arial, 굴림, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

/* A영역 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100px;
    width: 1340px;
    margin: 0 auto;
}

/* 로고 */
.logo {
    width: 190px;
    height: 44px;
}

/* 내비게이션 */
nav {
    align-self: flex-end;
}

/* 1뎁스 */
.main {
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
}

.main>li>a {
    display: inline-block;
    padding: 16px 24px;
}

.main>li>a:hover {
    background: #e31a40;
}

/* 2뎁스 */
.sub {
    display: none;
    font-size: 1.4rem;
    font-weight: normal;
}

/* B영역 */
#slide {
    height: 350px;
    overflow: hidden;
}

/* C와 D영역 공통 */
.container {
    position: relative;
    top: -100px;
    width: 1340px;
    margin: 0 auto;
}

/* C영역 */
#link {
    height: 100px;
    background: #e31a40;
}

#link ul {
    display: flex;
    /* '주축' 가로 배치 */
    justify-content: space-around;
    /* 높이 설정해야 align items 적용됨 */
    height: 100%;
    /* '교차축' 세로 배치 */
    align-items: center;
}

#link li {
    width: 120px;
    height: 60px;
    border: 1px solid greenyellow;

}

#link li img {
    margin-right: 8px;
    /* 인라인 요소의 수직 배치 */
    vertical-align: middle;
    width: 60px;
    height: 60px;
}

#banner {
    display: flex;
    height: 150px;
    align-items: center;
    padding: 0px 70px;
}

#banner img {
    width: 100px;
    height: 80px;
}

#banner .txt {
    margin-left: 24px;
    margin-right: 200px;
}

#board {
    padding: 20px 40px;
    display: flex;
    height: 300px;
}

#board .notice {
    width: 670px;
    margin-right: 30px;
}

#board .gallery {
    margin-left: 30px;
    width: 670px;
}

#board .gallery img {
    margin-bottom: 8px;
    display: block;
    width: 180px;
    height: 160px;
}

#board .gallery div {
    display: flex;
}

#board .gallery div a{
    margin: 10px;
}

/* D영역 */
footer {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 30px;
}

/* 1340px */
.flogo {
    width: 200px;
}

.addr {
    width: 900px;
}

.fs {
    width: 240px;
}